@tailwind base;
@tailwind components;
@tailwind utilities;


.ec-clip {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 40%), url('http://127.0.0.1:8000/img/search.webp');
}


@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Light.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Demibold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Extrabold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Black.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
}


body {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}



.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}


.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}


.thumbnail img {
  width: 100%;
  height: auto;
}

.thumbnail.is-active {
  opacity: 1;
}


.navigation__btn {
  @apply px-1 py-1 text-xs text-center transition-colors border-2 rounded sm:px-4 sm:py-1 sm:text-sm hover:bg-transparent border-mahdavi;
}

.navigation__btn--primary {
  @apply text-white bg-mahdavi hover:text-mahdavi;
}

.navigation__btn--secondery {
  @apply transition-colors hover:bg-transparent text-mahdavi hover:border-dashed;
}