@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h2 {
    @apply text-3xl font-medium;
    /* Customize the h1 style */
  }
}



blockquote {
  background:
    linear-gradient(to right, #d2ab65 6px, transparent 4px) 0 100%,
    linear-gradient(to left, #d2ab65 6px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #d2ab65 6px, transparent 4px) 100% 0,
    linear-gradient(to top, #d2ab65 6px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/* -- create the quotation marks -- */
blockquote:before,
blockquote:after {
  font-family: FontAwesome;
  position: absolute;
  color: #d2ab65;
  font-size: 34px;
}

blockquote:before {
  content: "''";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}

blockquote:after {
  content: "''";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}

.blog_p a {
  @apply transition-colors text-slate-600 hover:text-slate-700;
}


.ec-clip {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 40%), url('http://127.0.0.1:8000/img/search.webp');
}


/* @font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Light.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Demibold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Extrabold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Black.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url('http://127.0.0.1:8000/fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
} */


body {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}



.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}


.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}


.thumbnail img {
  width: 100%;
  height: auto;
}

.thumbnail.is-active {
  opacity: 1;
}


.navigation__btn {
  @apply px-1 py-1 text-xs text-center transition-colors border-2 rounded sm:px-4 sm:py-1 sm:text-sm hover:bg-transparent border-mahdavi;
}

.navigation__btn--primary {
  @apply text-white bg-mahdavi hover:text-mahdavi;
}

.navigation__btn--secondery {
  @apply transition-colors md:flex hover:bg-transparent text-mahdavi hover:border-dashed;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.public-search__btn-radio {
  @apply w-4 h-4 bg-gray-100 border-gray-300 rounded-full text-mahdavi focus:ring-mahdavi focus:ring-2;
}

.public-asset__facility--main {
  @apply flex items-center justify-center gap-2 px-2 py-1 transition-colors border-2 rounded border-mahdavi text-mahdavi hover:bg-mahdavi hover:text-white;
}

.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}


/* Initial state for list items */
.list_item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

/* Visible state */
.visible {
  opacity: 1;
  transform: translateY(0);
}



.navigation__checkbox {
  display: none;
}

.navigation__button {
  @apply bg-slate-200;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 20;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.3rem;
  background-image: radial-gradient(#d2ab65, #d2ab65);
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: .5rem;
}



.navigation__checkbox:checked~.navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 1.7rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 1.5rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.4rem;
}

.navigation__icon::after {
  top: 0.4rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -.5rem;
}

.navigation__button:hover .navigation__icon::after {
  top: .5rem;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}




#fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* Ensures the image fits within its container without being cropped */
}

/* Center the buttons vertically */
#prev-slide,
#next-slide {
  top: 50%;
  transform: translateY(-50%);
}


.thumbnail {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.thumbnail.active {
  opacity: 1;
}